body {
    margin: auto;
    display: grid;
    justify-content: center;
}

form {
    display: grid;
    text-align: center;
    width: 500px;
    height: 100px;
    grid-template-columns: 1fr 1fr;
}

button {
    margin: 0;
}

.gameBoardContainer {
    justify-content: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.gameBoard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameBoardCell {
    display: flex;
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}